:host {
	cursor: pointer;
	label {
		margin-bottom: 0;
	}

	.checkbox label:after {
		content: '';
		clear: both;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		
	}
	
	.checkbox .cr{
		position: relative;
		display: inline-block;
		border: 1px solid #a9a9a9;
		background-color: #fff;
		border-radius: .25em;
		width: 1.3em;
		height: 1.3em;
		float: left;
		margin-right: .5em;
	}
	
	.checkbox .cr .cr-icon{
		position: absolute;
		font-size: .8em;
		line-height: 0;
		top: 50%;
		left: 20%;
	}
	
	.checkbox label input[type="checkbox"] {
		display: none;
	}
	
	.checkbox label input[type="checkbox"] + .cr > .cr-icon,
	.radio label input[type="radio"] + .cr > .cr-icon {
		opacity: 0;
		transition: all .1s ease-in;
	}
	
	.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
		transform: scale(1) rotateZ(0deg);
		opacity: 1;
	}
	
}