:host {
	.fa {
		color: #3A6183;
	}
	input {
		height: 38px;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
	.input-group-addon {
		background-color: #F1F4F9;
		border-color: #C7D3DE;
		cursor: pointer;

		&:hover {
			background-color: #FFFBEA;
		}
	}
}