/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
	background-color: #F1F4F9;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
}
input[type="text"], textarea {
	outline: none !important;
	font-size: 13px;
}
input:focus {
	outline: none !important;
}