@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
	background-color: #F1F4F9;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}
input[type="text"], textarea {
	outline: none !important;
	font-size: 13px;
}
input:focus {
	outline: none !important;
}
