:host {
	color: #325A7D;
	a span{
		color: #325A7D;
		font-size: 23px;
	}
	
	.active {
		background-color: #D5E9FC !important;
		border: 1px solid #7CC7F9 !important;
	}

	.page {
		position: relative; 
		background-color: #fff;
		border: 1px solid #C7D3DE;
		min-width: 40px;
		min-height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 17px;
		&:hover {
			background-color:#FFFBEA; 
		}
	}
}