<table class="table">
	<thead>
		<tr>
			<th scope="col"><input type="checkbox"></th>
			<th scope="col">Placa</th>
			<th scope="col">Modelo</th>
			<th scope="col">Marca</th>
			<th scope="col">Foto</th>
			<th scope="col">Combustível</th>
			<th scope="col">Valor</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let vehicle of vehicles">
			<th scope="row">1</th>
			<td>{{vehicle.placa}}</td>
			<td>{{vehicle.modelo}}</td>
			<td>{{vehicle.marca}}</td>
			<td>Sem foto</td>
			<td>{{vehicle.combustivel}}</td>
			<td>{{vehicle.valor}}</td>
		</tr>
		
	</tbody>
</table>