:host {
	$table-border-color :#C1C3C7;
	
	.selected {
		background-color: #D5E9FC;
	}
	
	.table {
		color: #385a7b;
		border-color: $table-border-color;
		border-collapse: separate;
		border-spacing: 0;
		td, th {
			padding: .55rem;
			vertical-align: middle;
			border-top: 1px solid $table-border-color;
		}

		thead th {
			border-bottom: none;
			background-color: #F8FAFC;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: $table-border-color;

			&:first-child {
				border-top-left-radius: 3px;
				border-left-width: 1px;
				border-left-style: solid;
				border-left-color: $table-border-color;
			}
			&:last-child {
				border-top-right-radius: 3px;
				border-right-width: 1px;
				border-right-style: solid;
				border-right-color: $table-border-color;
			}
		}

		tbody {
			background-color: #fff;
			tr td:first-child {
				border-left-width: 1px;
				border-left-style: solid;
				border-left-color: $table-border-color;
			}
			tr td:last-child {
				border-right-width: 1px;
				border-right-style: solid;
				border-right-color: $table-border-color;
			}
			tr:last-child td {
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: $table-border-color;
			}
		}

	}
}