<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Placa</th>
			<th scope="col">Modelo</th>
			<th scope="col">Marca</th>
			<th scope="col">Foto</th>
			<th scope="col">Combustível</th>
			<th scope="col">Valor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>ITV4312</td>
			<td>GOL</td>
			<td>Wolkvagen</td>
			<td>Sem foto</td>
			<td>Gasolina</td>
			<td>20.000</td>
		</tr>
		<tr>
			<th scope="row">1</th>
			<td>ITV4312</td>
			<td>GOL</td>
			<td>Wolkvagen</td>
			<td>Sem foto</td>
			<td>Gasolina</td>
			<td>20.000</td>
		</tr>
		<tr>
			<th scope="row">1</th>
			<td>ITV4312</td>
			<td>GOL</td>
			<td>Wolkvagen</td>
			<td>Sem foto</td>
			<td>Gasolina</td>
			<td>20.000</td>
		</tr>
		<tr>
			<th scope="row">1</th>
			<td>ITV4312</td>
			<td>GOL</td>
			<td>Wolkvagen</td>
			<td>Sem foto</td>
			<td>Gasolina</td>
			<td>20.000</td>
		</tr>
	</tbody>
</table>